// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Bootstrap
@import "~vuetify/dist/vuetify.css";

*
{
  font-family: 'Raleway', sans-serif;
}

.align-items
{
  &--center
  {
    align-items: center;
  }
}

.justify-content
{
  &--center
  {
    justify-content: center;
  }
}
